# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.installed.cfg

# Virtual Environment
venv/
ENV/
.env

# IDE - JetBrains
.idea/

# IDE - VS Code
.vscode/

# Temporary files created by text editors
*.swp
*.swo

# Distribution / packaging
build/
dist/
develop-eggs/
sdist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
var/

# Project-specific ignores
config.json
model_metadata.json
model_finetuned_ids.txt
latest_finetune.json
finetune_response.json
*.zip
generated_images/*
data/

# Log files
*.log

# Local data / configuration
.clinerules
%LOCALAPPDATA%/Temp/gradio/test.txt
